<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <springProperty name="LOG_HOME" source="app.log.home" defaultValue="logs"/>

    <appender name="InfoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/info.log</File>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/backup/info.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="ErrorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/error.log</File>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/backup/error.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
    </appender>

    <logger name="com.netflix.eureka.registry" level="WARN"/>
    <logger name="com.netflix.discovery" level="WARN"/>
    <logger name="org.springframework.boot.context.embedded.tomcat" level="INFO"/>
    <logger name="org.apache.http" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>

    <!--运维启动脚本中检测到error字符串会认为应用启动错误，spring中有error处理类导致脚本错误识别-->
    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="InfoAppender"/>
        <appender-ref ref="ErrorAppender"/>
    </logger>


    <root level="DEBUG">
        <springProfile name="!prod">
            <appender-ref ref="CONSOLE"/>
        </springProfile>
        <appender-ref ref="InfoAppender"/>
        <appender-ref ref="ErrorAppender"/>
    </root>

</configuration>